body {
  background-color:darkcyan; /*Pode escolher outra cor se quiser*/
}

h1 {
  color:aliceblue; /*Pode escolher outra cor se quiser*/
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}